<div class="columns my-5">
  <div class="column is-6">
    <div class="columns is-centered">
      <div class="column is-10">
        <div novalidate="" class="ng-untouched ">
          <div class="field">
            <label class="label">Número de Placa (padrão antigo)</label>
            <div class="control">
              <input type="text" [(ngModel)]="placaAutoAntiga" placeholder="Digite um número de uma placa"
                class="input ng-untouched "></div>
          </div>
        </div>
        <hr div>
        <div novalidate="" class="ng-untouched ">
          <div class="field">
            <label class="label">Número de Placa (padrão mercosul)</label>
            <div class="control">
              <input type="text" [(ngModel)]="placaAutoMercosul" placeholder="Digite um número de uma placa"
                class="input ng-untouched "></div>
          </div>
        </div>
        <hr div>
        <div novalidate="" class="ng-untouched ">
          <div class="field">
            <label class="label">Número de Telefone BR</label>
            <div class="control">
              <input type="text" [(ngModel)]="telBr" placeholder="Digite um número de telefone"
                class="input ng-untouched "></div>
          </div>
        </div>
        <hr div>
        <div novalidate="" class="ng-untouched ">
          <div class="field">
            <label class="label">Número de Telefone US</label>
            <div class="control">
              <input type="text" [(ngModel)]="telUS" placeholder="Digite um número de telefone"
                class="input ng-untouched ">
              </div>
          </div>
        </div>
        <hr div>
        <div novalidate="" class="ng-untouched ">
          <div class="field">
            <label class="label">Nome completo ABNT</label>
            <div class="control">
              <input type="text" [(ngModel)]="nomeABNT" placeholder="Digite o nome completo de uma pessoa"
                class="input ng-untouched ">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-6">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="field">
          <label class="label">Resultado</label>
          <div class="control">
            <input disabled="" [ngModel]="placaAutoAntiga | placaAutoAntigo" (ngModelChange)="placaAutoAntiga=$event"
              name="inputField" type="text" placeholder="Formatação Inválida" class="input">
          </div>
        </div>
        <hr div>
        <div class="field">
          <label class="label">Resultado</label>
          <div class="control">
            <input disabled="" type="text" placeholder="Formatação Inválida"
              [ngModel]="placaAutoMercosul | placaAutoMercosul" (ngModelChange)="placaAutoMercosul=$event"
              class="input">
          </div>
        </div>
        <hr div>
        <div class="field">
          <label class="label">Resultado</label>
          <div class="control">
            <input disabled="" type="text" placeholder="Formatação Inválida" class="input"
              [ngModel]="telBr | telBr" (ngModelChange)="telBr=$event">
          </div>
        </div>
        <hr div>
        <div class="field">
          <label class="label">Resultado</label>
          <div class="control">
            <input disabled="" type="text" placeholder="Formatação Inválida" class="input" [ngModel]="telUS | telUS" (ngModelChange)="telUS=$event">
          </div>
        </div>
        <hr div>
        <div class="field">
          <label class="label">Resultado</label>
          <div class="control">
            <input disabled="" type="text" [ngModel]="nomeABNT | nomeABNT" (ngModelChange)="nomeABNT=$event" placeholder="Formatação Inválida" class="input">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
